In [187]:
# load liberaries

# pandas
import pandas as pd
from pandas import Series,DataFrame
from patsy import dmatrices, dmatrix, demo_data

# numpy, matplotlib, seaborn
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline
import re

# machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier

In [188]:
# get titanic & test csv files as a DataFrame
df_all = pd.read_csv("C:/Users/I011708/Desktop/train.csv", dtype={"Age": np.float64},)
#split dataset into train and testfile
#titanic_df=df_all.head(445)#take first part of ds for training (since random)
#test_df=df_all.tail(len(df_all)-445)#take second part for testing
###for submission
titanic_df=df_all
test_df= pd.read_csv("C:/Users/I011708/Desktop/test.csv", dtype={"Age": np.float64},)
# complete dataset overview
df_all.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

In [189]:
##############################################descriptives################################################
###function to calculate survival probability
def surviver_prob(pclass, survived, class_to_be_checked):
      n_died=df_all.groupby([pclass,survived]).Survived.count()[class_to_be_checked,0]
      n_survived=df_all.groupby([pclass,survived]).Survived.count()[class_to_be_checked,1]
      N_total=n_died+n_survived
      print "Died: ", float(n_died)/float(N_total)
      print "Survived: ", float(n_survived)/(N_total)
      return

In [190]:
###calculate survival rate for class ang gender
print "survival rate class 1"
surviver_prob("Pclass","Survived",1)
print "survival rate class 2"
surviver_prob("Pclass","Survived",2)
print "survival rate class 3"
surviver_prob("Pclass","Survived",3)

print "survival rate female"
surviver_prob("Sex","Survived","female")
print "survival rate male"
surviver_prob("Sex","Survived","male")

survival rate class 1
Died:  0.37037037037
Survived:  0.62962962963
survival rate class 2
Died:  0.527173913043
Survived:  0.472826086957
survival rate class 3
Died:  0.757637474542
Survived:  0.242362525458
survival rate female
Died:  0.257961783439
Survived:  0.742038216561
survival rate male
Died:  0.811091854419
Survived:  0.188908145581

In [191]:
########some information about age 
df_all["Age"].describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

In [192]:

# All the ages with no data make the median of the data
mean_age=titanic_df['Age'].mean() 
mean_age=round(mean_age) 
titanic_df.loc[np.isnan(titanic_df.Age), 'Age'] = mean_age
titanic_df['Child']=titanic_df['Age']

titanic_df.loc[titanic_df.Child < 18, 'Child'] = 1#is a child 
titanic_df.loc[titanic_df.Child > 17, 'Child'] = 0# is an adult

In [193]:
# Convert strings to numbers so we can perform computational analysis    
# The gender classifier in column 3: Male = 0, female = 1:
titanic_df.loc[titanic_df.Sex != 'female', 'Sex'] = 0
titanic_df.loc[titanic_df.Sex == 'female', 'Sex'] = 1

In [194]:
# same for Embarked C = 0, S = 1, Q = 2
#titanic_df['Embarked']
#titanic_df['Embarked']=titanic_df['Embarked'].replace("C",0).replace("S",1).replace("Q",2) 
titanic_df.loc[titanic_df.Embarked == 'C', 'Embarked'] = 0
titanic_df.loc[titanic_df.Embarked == 'S', 'Embarked'] = 1
titanic_df.loc[titanic_df.Embarked == 'Q', 'Embarked'] = 2
#replace nas in embarked with most common embarked
mean_embarked=titanic_df['Embarked'].mean() 
mean_embarked=round(mean_embarked) 
titanic_df.loc[pd.isnull(titanic_df.Embarked), 'Embarked'] = mean_embarked
titanic_df[60:70]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Child
60,61,0,3,"Sirayanian, Mr. Orsen",0,22,0,0,2669,7.2292,NaN,0,0
61,62,1,1,"Icard, Miss. Amelie",1,38,0,0,113572,80.0000,B28,1,0
62,63,0,1,"Harris, Mr. Henry Birkhardt",0,45,1,0,36973,83.4750,C83,1,0
63,64,0,3,"Skoog, Master. Harald",0,4,3,2,347088,27.9000,NaN,1,1
64,65,0,1,"Stewart, Mr. Albert A",0,30,0,0,PC 17605,27.7208,NaN,0,0
65,66,1,3,"Moubarek, Master. Gerios",0,30,1,1,2661,15.2458,NaN,0,0
66,67,1,2,"Nye, Mrs. (Elizabeth Ramell)",1,29,0,0,C.A. 29395,10.5000,F33,1,0
67,68,0,3,"Crease, Mr. Ernest James",0,19,0,0,S.P. 3464,8.1583,NaN,1,0
68,69,1,3,"Andersson, Miss. Erna Alexandra",1,17,4,2,3101281,7.9250,NaN,1,1
69,70,0,3,"Kink, Mr. Vincenz",0,26,2,0,315151,8.6625,NaN,1,0

In [195]:
#additional name information
titanic_df["Title"]=titanic_df["Name"]
for irow in range(0,len(titanic_df["Name"])):
    titanic_df["Title"][irow]=re.sub('(.*, )|(\\..*)', '',titanic_df["Name"][irow])

C:\Program Files\Anaconda\lib\site-packages\IPython\kernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [196]:
###change names in coloumn "Name" and summarize all rare titles encode as 1-4
rare_title =('Dona', 'Lady', 'the Countess','Capt', 'Col', 'Don', 
                'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer','Master')
rare_title
titanic_df.loc[titanic_df.Title == 'Mlle', 'Title'] =1    #'Miss'
titanic_df.loc[titanic_df.Title == 'Ms', 'Title'] = 1 #'Miss'
titanic_df.loc[titanic_df.Title == 'Miss', 'Title'] = 1 #'Miss'
titanic_df.loc[titanic_df.Title == 'Mme', 'Title'] = 2 #'Mrs'
titanic_df.loc[titanic_df.Title == 'Mrs', 'Title'] = 2 #'Mrs'
titanic_df.loc[titanic_df.Title == 'Mr', 'Title'] = 3 # Mr
titanic_df.loc[titanic_df.Title.isin(rare_title), 'Title'] = 4 #'Rare Title'

In [197]:
#does the size of a family influence the probability of surviving
titanic_df["Fsize"]=titanic_df["SibSp"] + titanic_df["Parch"] + 1
titanic_df["Mother"]=titanic_df["SibSp"]
#titanic_df.loc[titanic_df.Sex == 1 and titanic_df.Parch > 0,'Mother']=1# #is mother
titanic_df.loc[(titanic_df.Parch >0) & (titanic_df.Sex==1),'Mother']=1
titanic_df.loc[(titanic_df.Parch ==0) | (titanic_df.Sex!=1),'Mother']=0
#titanic_df.loc[titanic_df.Sex != 1 or titanic_df.Parch == 0 or np.isnan(titanic_df.Parch),'Mother']=0 #no mother

In [198]:
####do the same for test data
# All the ages with no data make the median of the data
mean_age=test_df['Age'].mean()
mean_age=round(mean_age)
#print mean_age
test_df.loc[np.isnan(test_df.Age), 'Age'] = mean_age
test_df['Child']=test_df['Age']
test_df.loc[test_df.Child < 18, 'Child'] = 1#is a child 
test_df.loc[test_df.Child > 17, 'Child'] = 0# is an adult
test_df.loc[test_df.Sex != 'female', 'Sex'] = 0
test_df.loc[test_df.Sex == 'female', 'Sex'] = 1
test_df.loc[test_df.Embarked == 'C', 'Embarked'] = 0
test_df.loc[test_df.Embarked == 'S', 'Embarked'] = 1
test_df.loc[test_df.Embarked == 'Q', 'Embarked'] = 2
mean_embarked=test_df['Embarked'].mean() 
mean_embarked=round(mean_embarked) 
test_df.loc[pd.isnull(test_df.Embarked), 'Embarked'] = mean_embarked
test_df["Title"]=test_df["Name"]
for irow in range(0,len(test_df["Name"])):
    test_df["Title"][irow]=re.sub('(.*, )|(\\..*)', '',test_df["Name"][irow])
test_df.loc[test_df.Title == 'Mlle', 'Title'] =1    #'Miss'
test_df.loc[test_df.Title == 'Ms', 'Title'] = 1 #'Miss'
test_df.loc[test_df.Title == 'Miss', 'Title'] = 1
test_df.loc[test_df.Title == 'Mme', 'Title'] = 2 #'Mrs'
test_df.loc[test_df.Title == 'Mrs', 'Title'] = 2 #'Mrs'
test_df.loc[test_df.Title == 'Mr', 'Title'] = 3 # Mr
test_df.loc[test_df.Title.isin(rare_title), 'Title'] = 4 #'Rare Title'
test_df["Fsize"]=test_df["SibSp"] + test_df["Parch"] + 1
test_df["Mother"]=test_df["SibSp"]
test_df.loc[(test_df.Parch >0) & (test_df.Sex==1),'Mother']=1 #is mother
test_df.loc[(test_df.Parch <0) & (test_df.Sex!=1),'Mother']=0 #no mother

C:\Program Files\Anaconda\lib\site-packages\IPython\kernel\__main__.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [199]:
test_df

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Child,Title,Fsize,Mother
0,892,3,"Kelly, Mr. James",0,34.5,0,0,330911,7.8292,NaN,2,0,3,1,0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",1,47.0,1,0,363272,7.0000,NaN,1,0,2,2,1
2,894,2,"Myles, Mr. Thomas Francis",0,62.0,0,0,240276,9.6875,NaN,2,0,3,1,0
3,895,3,"Wirz, Mr. Albert",0,27.0,0,0,315154,8.6625,NaN,1,0,3,1,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",1,22.0,1,1,3101298,12.2875,NaN,1,0,2,3,1
5,897,3,"Svensson, Mr. Johan Cervin",0,14.0,0,0,7538,9.2250,NaN,1,1,3,1,0
6,898,3,"Connolly, Miss. Kate",1,30.0,0,0,330972,7.6292,NaN,2,0,1,1,0
7,899,2,"Caldwell, Mr. Albert Francis",0,26.0,1,1,248738,29.0000,NaN,1,0,3,3,1
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",1,18.0,0,0,2657,7.2292,NaN,0,0,2,1,0
9,901,3,"Davies, Mr. John Samuel",0,21.0,2,0,A/4 48871,24.1500,NaN,1,0,3,3,2
10,902,3,"Ilieff, Mr. Ylio",0,30.0,0,0,349220,7.8958,NaN,1,0,3,1,0
11,903,1,"Jones, Mr. Charles Cresson",0,46.0,0,0,694,26.0000,NaN,1,0,3,1,0
12,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",1,23.0,1,0,21228,82.2667,B45,1,0,2,2,1
13,905,2,"Howard, Mr. Benjamin",0,63.0,1,0,24065,26.0000,NaN,1,0,3,2,1
14,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",1,47.0,1,0,W.E.P. 5734,61.1750,E31,1,0,2,2,1
15,907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",1,24.0,1,0,SC/PARIS 2167,27.7208,NaN,0,0,2,2,1
16,908,2,"Keane, Mr. Daniel",0,35.0,0,0,233734,12.3500,NaN,2,0,3,1,0
17,909,3,"Assaf, Mr. Gerios",0,21.0,0,0,2692,7.2250,NaN,0,0,3,1,0
18,910,3,"Ilmakangas, Miss. Ida Livija",1,27.0,1,0,STON/O2. 3101270,7.9250,NaN,1,0,1,2,1
19,911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",1,45.0,0,0,2696,7.2250,NaN,0,0,2,1,0
20,912,1,"Rothschild, Mr. Martin",0,55.0,1,0,PC 17603,59.4000,NaN,0,0,3,2,1
21,913,3,"Olsen, Master. Artur Karl",0,9.0,0,1,C 17368,3.1708,NaN,1,1,4,2,0
22,914,1,"Flegenheim, Mrs. Alfred (Antoinette)",1,30.0,0,0,PC 17598,31.6833,NaN,1,0,2,1,0
23,915,1,"Williams, Mr. Richard Norris II",0,21.0,0,1,PC 17597,61.3792,NaN,0,0,3,2,0
24,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",1,48.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,0,0,2,5,1
25,917,3,"Robins, Mr. Alexander A",0,50.0,1,0,A/5. 3337,14.5000,NaN,1,0,3,2,1
26,918,1,"Ostby, Miss. Helene Ragnhild",1,22.0,0,1,113509,61.9792,B36,0,0,1,2,1
27,919,3,"Daher, Mr. Shedid",0,22.5,0,0,2698,7.2250,NaN,0,0,3,1,0
28,920,1,"Brady, Mr. John Bertram",0,41.0,0,0,113054,30.5000,A21,1,0,3,1,0
29,921,3,"Samaan, Mr. Elias",0,30.0,2,0,2662,21.6792,NaN,0,0,3,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,1280,3,"Canavan, Mr. Patrick",0,21.0,0,0,364858,7.7500,NaN,2,0,3,1,0
389,1281,3,"Palsson, Master. Paul Folke",0,6.0,3,1,349909,21.0750,NaN,1,1,4,5,3
390,1282,1,"Payne, Mr. Vivian Ponsonby",0,23.0,0,0,12749,93.5000,B24,1,0,3,1,0
391,1283,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",1,51.0,0,1,PC 17592,39.4000,D28,1,0,2,2,1
392,1284,3,"Abbott, Master. Eugene Joseph",0,13.0,0,2,C.A. 2673,20.2500,NaN,1,1,4,3,0
393,1285,2,"Gilbert, Mr. William",0,47.0,0,0,C.A. 30769,10.5000,NaN,1,0,3,1,0
394,1286,3,"Kink-Heilmann, Mr. Anton",0,29.0,3,1,315153,22.0250,NaN,1,0,3,5,3
395,1287,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",1,18.0,1,0,13695,60.0000,C31,1,0,2,2,1
396,1288,3,"Colbert, Mr. Patrick",0,24.0,0,0,371109,7.2500,NaN,2,0,3,1,0
397,1289,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",1,48.0,1,1,13567,79.2000,B41,0,0,2,3,1
398,1290,3,"Larsson-Rondberg, Mr. Edvard A",0,22.0,0,0,347065,7.7750,NaN,1,0,3,1,0
399,1291,3,"Conlon, Mr. Thomas Henry",0,31.0,0,0,21332,7.7333,NaN,2,0,3,1,0
400,1292,1,"Bonnell, Miss. Caroline",1,30.0,0,0,36928,164.8667,C7,1,0,1,1,0
401,1293,2,"Gale, Mr. Harry",0,38.0,1,0,28664,21.0000,NaN,1,0,3,2,1
402,1294,1,"Gibson, Miss. Dorothy Winifred",1,22.0,0,1,112378,59.4000,NaN,0,0,1,2,1
403,1295,1,"Carrau, Mr. Jose Pedro",0,17.0,0,0,113059,47.1000,NaN,1,1,3,1,0
404,1296,1,"Frauenthal, Mr. Isaac Gerald",0,43.0,1,0,17765,27.7208,D40,0,0,3,2,1
405,1297,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",0,20.0,0,0,SC/PARIS 2166,13.8625,D38,0,0,3,1,0
406,1298,2,"Ware, Mr. William Jeffery",0,23.0,1,0,28666,10.5000,NaN,1,0,3,2,1
407,1299,1,"Widener, Mr. George Dunton",0,50.0,1,1,113503,211.5000,C80,0,0,3,3,1
408,1300,3,"Riordan, Miss. Johanna Hannah""""",1,30.0,0,0,334915,7.7208,NaN,2,0,1,1,0
409,1301,3,"Peacock, Miss. Treasteall",1,3.0,1,1,SOTON/O.Q. 3101315,13.7750,NaN,1,1,1,3,1
410,1302,3,"Naughton, Miss. Hannah",1,30.0,0,0,365237,7.7500,NaN,2,0,1,1,0
411,1303,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",1,37.0,1,0,19928,90.0000,C78,2,0,2,2,1
412,1304,3,"Henriksson, Miss. Jenny Lovisa",1,28.0,0,0,347086,7.7750,NaN,1,0,1,1,0
413,1305,3,"Spector, Mr. Woolf",0,30.0,0,0,A.5. 3236,8.0500,NaN,1,0,3,1,0
414,1306,1,"Oliva y Ocana, Dona. Fermina",1,39.0,0,0,PC 17758,108.9000,C105,0,0,4,1,0
415,1307,3,"Saether, Mr. Simon Sivertsen",0,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,1,0,3,1,0
416,1308,3,"Ware, Mr. Frederick",0,30.0,0,0,359309,8.0500,NaN,1,0,3,1,0
417,1309,3,"Peter, Master. Michael J",0,30.0,1,1,2668,22.3583,NaN,0,0,4,3,1

In [200]:
##########additional stuff
passenger_df=test_df['PassengerId']
titanic_df = titanic_df.drop(['PassengerId','Name','Ticket','Fare','Cabin'],axis=1)
test_df    = test_df.drop(['PassengerId','Name','Ticket','Fare','Cabin'],axis=1)
#PassengerId
#Survived
#Pclass
#Name
#Sex
#Age
#SibSp
#Parch
#Ticket
#Fare
#Cabin
#Embarked

In [201]:
X_train = titanic_df.drop("Survived",axis=1)
Y_train = titanic_df["Survived"]
#X_test  = test_df.drop("Survived",axis=1)#for training phase
X_test  = test_df

In [202]:
#X_train
#Y_train
#check for nulls and nans
#X_test.isnull().values.any()
pd.isnull(X_test).any(1).nonzero()[0]
X_test[150:155]

     Pclass Sex   Age  SibSp  Parch Embarked  Child Title  Fsize  Mother
150       1   1  23.0      0      1        0      0     2      2       1
151       3   0  30.0      0      0        0      0     3      1       0
152       3   0  60.5      0      0        1      0     3      1       0
153       3   1  36.0      0      2        1      0     2      3       1
154       3   0  13.0      4      2        1      1     4      7       4

In [203]:

logreg = LogisticRegression()
logreg.fit(X_train, Y_train)
Y_pred = logreg.predict(X_test)
logreg.score(X_train, Y_train)
#score: 0.81573033707865172

0.81369248035914699

In [204]:
#####better algorithm
#random_forest = RandomForestClassifier(n_estimators=100)

#random_forest.fit(X_train, Y_train)

#Y_pred = random_forest.predict(X_test)

#random_forest.score(X_train, Y_train)

In [205]:
test_df

     Pclass Sex   Age  SibSp  Parch Embarked  Child Title  Fsize  Mother
0         3   0  34.5      0      0        2      0     3      1       0
1         3   1  47.0      1      0        1      0     2      2       1
2         2   0  62.0      0      0        2      0     3      1       0
3         3   0  27.0      0      0        1      0     3      1       0
4         3   1  22.0      1      1        1      0     2      3       1
5         3   0  14.0      0      0        1      1     3      1       0
6         3   1  30.0      0      0        2      0     1      1       0
7         2   0  26.0      1      1        1      0     3      3       1
8         3   1  18.0      0      0        0      0     2      1       0
9         3   0  21.0      2      0        1      0     3      3       2
10        3   0  30.0      0      0        1      0     3      1       0
11        1   0  46.0      0      0        1      0     3      1       0
12        1   1  23.0      1      0        1      0     2      2       1
13        2   0  63.0      1      0        1      0     3      2       1
14        1   1  47.0      1      0        1      0     2      2       1
15        2   1  24.0      1      0        0      0     2      2       1
16        2   0  35.0      0      0        2      0     3      1       0
17        3   0  21.0      0      0        0      0     3      1       0
18        3   1  27.0      1      0        1      0     1      2       1
19        3   1  45.0      0      0        0      0     2      1       0
20        1   0  55.0      1      0        0      0     3      2       1
21        3   0   9.0      0      1        1      1     4      2       0
22        1   1  30.0      0      0        1      0     2      1       0
23        1   0  21.0      0      1        0      0     3      2       0
24        1   1  48.0      1      3        0      0     2      5       1
25        3   0  50.0      1      0        1      0     3      2       1
26        1   1  22.0      0      1        0      0     1      2       1
27        3   0  22.5      0      0        0      0     3      1       0
28        1   0  41.0      0      0        1      0     3      1       0
29        3   0  30.0      2      0        0      0     3      3       2
..      ...  ..   ...    ...    ...      ...    ...   ...    ...     ...
388       3   0  21.0      0      0        2      0     3      1       0
389       3   0   6.0      3      1        1      1     4      5       3
390       1   0  23.0      0      0        1      0     3      1       0
391       1   1  51.0      0      1        1      0     2      2       1
392       3   0  13.0      0      2        1      1     4      3       0
393       2   0  47.0      0      0        1      0     3      1       0
394       3   0  29.0      3      1        1      0     3      5       3
395       1   1  18.0      1      0        1      0     2      2       1
396       3   0  24.0      0      0        2      0     3      1       0
397       1   1  48.0      1      1        0      0     2      3       1
398       3   0  22.0      0      0        1      0     3      1       0
399       3   0  31.0      0      0        2      0     3      1       0
400       1   1  30.0      0      0        1      0     1      1       0
401       2   0  38.0      1      0        1      0     3      2       1
402       1   1  22.0      0      1        0      0     1      2       1
403       1   0  17.0      0      0        1      1     3      1       0
404       1   0  43.0      1      0        0      0     3      2       1
405       2   0  20.0      0      0        0      0     3      1       0
406       2   0  23.0      1      0        1      0     3      2       1
407       1   0  50.0      1      1        0      0     3      3       1
408       3   1  30.0      0      0        2      0     1      1       0
409       3   1   3.0      1      1        1      1     1      3       1
410       3   1  30.0      0      0        2      0     1      1       0
411       1   1  37.0      1      0        2      0     2      2       1
412       3   1  28.0      0      0        1      0     1      1       0
413       3   0  30.0      0      0        1      0     3      1       0
414       1   1  39.0      0      0        0      0     4      1       0
415       3   0  38.5      0      0        1      0     3      1       0
416       3   0  30.0      0      0        1      0     3      1       0
417       3   0  30.0      1      1        0      0     4      3       1

[418 rows x 10 columns]

In [206]:
submission = pd.DataFrame({
        "PassengerId": passenger_df,
        "Survived": Y_pred
    })
submission.to_csv('C:/Users/I011708/Desktop/prediction_titanic.csv', index=False)